.portfolio__container{
    display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 2.5rem;
}

.portfolio__article{
    background: var(--color-bg);
    padding:1.3rem ;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__article:hover{
    border-color: var(--color-primary);
    background: transparent;
}
.portfolio__article-image{
     border-radius: 1.5rem;
     overflow: hidden;
} 
.portfolio__article h3{
    margin:1.2rem 0 2rem ;
}
.portfolio__article-cta{
    display: flex;
    gap:  1rem;
    margin-bottom: 1rem;
}

