.about__container{
    display: grid;
    /* grid-template-columns: 35% %; */
    gap: 20%; 
}

.about__content{
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.about__cards{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    
}
.about__card{
    background: var(--color-bg);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding:3rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-white);
    cursor: default;

}
.about__icon{
    color: var(--color-primary);
    font-size: large;
    margin-bottom: 5;

}

.about__card h5{
    font-size: large;
}
.about__card small{
    font-size: 0.7rem; 
    color: var(--color-light);
}
.paragraph{
    text-align: center;
    margin: 2rem 0 2.6rem;
    color: var(--color-light);

}


/* ==================Media query (medium devices) */
/* @media screen and (max-width:1024px){
    .about__container{
       height: 120vh;
    }
   
} */

/* ==================Media query (small devices) */
/* @media screen and (max-width:600){
    header{
        height: 30vh;
     }
} */